/*
    --- 01. TYPOGRAPHY SYSTEM
    - FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

    - Font weights:
      Default 400
      Medium 500
      Semi-bold 600
      Bold 700

    - Line height:
      Default: 1
      Small: 1.05
      Medium: 1.2
      Paragraph default: 1.6

    --- 02: COLORS
    - Primary: #e67e22
    - Tints:
        #fae5d3;
        #fdf2e9
        #eb984e
    - Shades:
        #cf711f
        #45260a
    - Accents:
    - Grays:
       #888
       #767676 (lightest grey allowed #fff)
       #6f6f6f (lightest grey allowed on #fdf2e9
       #555
       #333
    --- 05. SHADOWS
        0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
    --- 06 BORDER RADIUS
     - Default: 9px
     - Medium: 11

    --- 07 WHITESPACE
     - SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /*
        10px / 16px = 0.625 = 62.5%
    */
    /* Percentage of user's browser fontsize settings */
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    font-family: "Rubik", sans-serif;
    line-height: 1;
    font-weight: 40;
    color: #555;
    /*Only works if there is nothing absolutely positioned
    in relation to body*/
    overflow-x: hidden;
}

/**************************************/
/* GENERAL REUSABLE COMPONENT */
/**************************************/

.container {
    /* 1140 */
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 3.2rem;
}

.grid {
    display: grid;
    column-gap: 6.4rem;
    row-gap: 9.6rem;
}

.grid:not(:last-child) {
    margin-bottom: 9.6rem;
}

.grid-2-cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid-3-cols {
    grid-template-columns: repeat(3, 1fr);
}

.grid-4-cols {
    grid-template-columns: repeat(4, 1fr);
}
/*.grid-5-cols {*/
/*    grid-template-columns: repeat(5, 1fr);*/
/*}*/

.grid-centred-v {
    align-items: center;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
    font-weight: 700;
    color: #333;
    /*color: #45260a;*/
    /*color: #343a40;*/
    letter-spacing: -0.5px;
}

.heading-primary {
    font-size: 5.2rem;
    line-height: 1.05;
    margin-bottom: 2.4rem;
}

.heading-secondary {
    font-size: 4.4rem;
    line-height: 1.2;
    margin-bottom: 9.6rem;
}

.heading-tertiary {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 3.2rem;
}

.subheading {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    color: #cf711f;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
}

.btn,
.btn:link,
.btn:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    padding: 1.6rem 3.2rem;
    border-radius: 9px;

    /*only for .btn itself*/
    border: none;
    cursor: pointer;
    font-family: inherit;
    /* Put transition on original state*/
    /*transition: background-color 0.3s;*/
    transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
    background-color: #e67e22;
    color: #fff;
}

.btn--full:hover,
.btn--full:active {
    background-color: #cf711f;
}

.btn--outline:link,
.btn--outline:visited {
    background-color: #fff;
    color: #555;
}

.btn--outline:hover,
.btn--outline:active {
    background-color: #fdf2e9;
    /*border: 3px solid #fff;*/

    /*    Trick to add border inside the button */
    box-shadow: inset 0 0 0 3px #fff;
}

.btn--form {
    background-color: #45260a;
    color: #fdf2e9;
    align-self: end;
    padding: 1.2rem;
}
.btn--form:hover{
    background-color: #fff;
    color: #555;
}
.link:link,
.link:visited {
    display: inline-block;
    color: #e67e22;
    text-decoration: none;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    transition: all .3s;
}

.link:hover,
.link:active {
    color: #cf711f;
    border-bottom: 1px solid transparent;
}
*:focus {
    outline: none;
    /*outline: 4px dotted #e67e22;*/
    /*outline-offset: 8px;*/
    box-shadow: 0 0 0 .8rem #e67e22;
}


.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

}

.list-icon {
    width: 3rem;
    height: 3rem;
    color: rgba(230, 125, 34, 0.5);
}

.list-item {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
    line-height: 1.2;
}

.center-text {
    text-align: center;
}

.margin-right-sm {
    margin-right: 1.6rem !important;
}

strong {
    font-weight: 500;
}

.margin-bottom-md {
    margin-bottom: 4.8rem !important;
}
